@import url("./common.css");

#relationlabel, #genderlabel {
    padding: 5%;
}

#contact_picture {
    margin-top: 5%;
    width: 40%;
    height: 50%; 
}

#contact_picture:hover {
    transform: scale(1.02); 
}

.verticalLine {
    border-left:0.5vh solid white;
    margin-left: -5%;
    margin-top: 5%;
}

.professional-logos {
    margin-left: 10%;
}

.large-screen-button{
    display: block; 
 }
 .small-screen-button {
     display: none;
 }


@media screen and (max-width: 1200px){
    nav {
        width: 14%;
        height: 45%;
    }
    #menu a{
        height: 45px; 
    }

}

@media screen and (max-width: 992px){
    nav {
        width: 14%;
        height: 45%;
    }
    #menu a{
        height: 45px; 
    }
    aside {
        display: none;
    }
}

@media screen and (max-width: 768px){
    #toggle-menu {
        margin-top: -5%;
        margin-left: 5%;
    }

    form {
        padding-left: 5%;
    }
    footer {
        padding-left: 5%;
    }
}

@media screen and (max-width: 576px){
    form {
        padding: 5%;
    }
    footer {
        padding: 5%;
    }
    aside {
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
    }
    .large-screen-button{
       display: none; 
    }
    .small-screen-button {
        display: block;
    }
}












