@import url("./common.css");
.star span {
    font-size: 175%;
}
.star .checked {
    color:orange;
    text-align: right;
}
.star .unchecked {
    color: white;
}

.star li:hover {
    transform: scale(1.1);
}

.ability-title {
    display: inline-block;
    min-width: 150px;
}

@media screen and (max-width: 1200px){
    nav {
        width: 14%;
        height: 45%;
    }
    #menu a{
        height: 45px; 
    }
}

@media screen and (max-width: 992px){
    section {
        padding: 5%;
    }
    .star span {
        font-size: 150%;
    }
    .ability-title {
        font-size: 1.5vh;
        min-width: 125px;
    }


}

@media screen and (max-width: 768px){
    #toggle-menu {
        margin-top: -5%;
        margin-left: 5%;
    }
    footer {
        padding-left: 30%;
    }
    section {
        padding: 3%;
    }
    .star span {
        font-size: 125%;
    }
}

@media screen and (max-width: 576px){
    footer {
        padding: 5%;
    }
}

@media screen and (max-width: 992px) {
    /*for mobiles only*/

    #menu{
        visibility: hidden;
    }
    nav {
        display: none;
    }

    button {
        line-height: 10px;
    }
    #toggle-menu {
        color: rgb(255, 0, 98);
        font-size: 4em;
        border: 0px;
        background-color: transparent;
        display: block;
        cursor: pointer;
    }
    #toggle-menu:hover {
        color: white;
    }

    #small-nav-show {
        display: none;
    }
    
    .small-navigation {
        display: block;
        background: #222;
    }
    
    .small-navigation-menu-item {
        padding: 5px;
        font-size: 150%;
        padding-left: 10%;
    }

    .small-navigation a {
        color: white;
    }

    .small-navigation-menu-item:hover {
        color: rgb(255, 0, 98);
    }

    .small-nav-active a{
        color: rgb(255, 0, 98);
    }
}

